/* general styles */
html, body {
    height: 100%;
    width: 100%;
  }
  /* padded section */
  .pad-section {
    padding: 50px 0;
  }
  .pad-section img {
    width: 100%;
  }
  /* vertical-centered text */
  .center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  /* additional sections */
  #headerParallax {
    background: url('https://burnaround.files.wordpress.com/2018/05/burnback3-e1526749932744.jpg') no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #about {
  }
  #services {
    background-color: #2b455a;
    color: #ffffff;
  }
  #services .glyphicon {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
  }
  #tonyParallax {
    background: url('https://burnaround.files.wordpress.com/2018/05/tony-e1526771109759.jpg') no-repeat center center fixed;
    display: table;
    height: 1500px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #danParallax {
    background: url('https://burnaround.files.wordpress.com/2018/05/dan.jpg') no-repeat center center fixed;
    display: table;
    height: 1500px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #ryanParallax {
    background: url('https://burnaround.files.wordpress.com/2018/05/rb1.jpg') no-repeat center center fixed;
    display: table;
    height: 1500px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #billParallax {
    /* background: url('') no-repeat center center fixed; */
    background-color: #5a2626;
    display: table;
    height: 1500px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  *{
    transition: all .5s linear;
    -o-transition: all .5s linear; 
    -moz-transition: all .5s linear; 
    -webkit-transition: all .5s linear;
  }

  #information .panel {
    opacity: 0.85;
  }
  #google_map {
    height: 500px;
  }
  footer {
    padding: 20px 0;
  }
  footer .glyphicon {
    color: #333333;
    font-size: 60px;
  }
  footer .glyphicon:hover {
    color: #306d9f;
  }